<% include partials/header %>
<style>
    .dev {
        font-size: 200%;
    }
    .work {
        font-size: 150%;
    }
</style>
    <div class="container">
        <legend style="text-align: center; font-size: 400%;">
            Developers
        </legend>
        <ul>
            <li class="dev">
                Archeel Parekh: Backend and frontend development
            </li>
                <br>
            <li class="dev">
                Yogesh Deshpande: Styling and UI development
            </li>
        </ul>
    </div>
<% include partials/footer %>