<% include partials/header %>
<style>
    .search {
        margin-bottom: 1%;
        text-align: center;
    }
</style>
 <div class="container">
        <div class="search">
                <form action="/doctors" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Doctor's Name" class="form-control">
                        <input type="submit" value="Search" class="btn btn-search">
                    </div>
                </form>
            </div>
            <%if(noMatch){%>
            <h1 style="text-align: center;">No Match Found :(</h1>
            <%}else{%>
      <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% doctors.forEach(function(doctor){
            if(doctor.type == "doctor"&&doctor.address) {%>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><%= doctor.fname %></h4>
                   </div>
                   <p style="font-size: 110%;">
                       <% if(String(doctor.description).length > 60) {%>
                        <%= String(doctor.description).slice(0,60) + "..." %>
                        <%} else{%>
                        <%= String(doctor.description)%>
                        <%}%>
                    </p> 
                   <p>
                       <a href="/doctors/<%= doctor.id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }}); %>
    </div>
</div><%}%>

<% include partials/footer %>