<% include partials/header %>
<p>
    <form action="/doctors" method="GET" class="form-inline">
        <div class="form-group">
            <input type="text" name="search" placeholder="Doctor search..." class="form-control">
            <input type="submit" value="Search" class="btn btn-search">
        </div>
    </form>
</p>
 <div class="container">
      <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% doctors.forEach(function(doctor){
            if(doctor.type == "doctor") {%>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><%= doctor.fname %></h4>
                   </div>
                   <p>
                       <a href="/doctors/<%= doctor.id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }}); %>
    </div>
</div>

<% include partials/footer %>