<% include partials/header %>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Clinic App</h1>
        </div>
</header></div>

<% include partials/footer %>