<% include partials/header %>
<style>
    body {
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://cclponline.org/wp-content/uploads/2015/01/health-priorities-1080x675.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .container {
        text-align: center;
    }
    span {
        font-family: 'Courgette', cursive;
    }
    .jumbotron {
        background-color: rgba(255, 250, 250, 0);
    }
</style>
<div class="main-body">
 <div class="container">
     <header class="jumbotron">
         <%if(!currentuser){%>
            <div class="container">
                    <h1>Welcome To <span>ClinicApp</span><sup>TM</sup> </h1>
                 </div>
         <%}
        else{%>
            <div class="container">
                    <h1>Welcome To <span>ClinicApp</span><sup>TM</sup><%= currentuser.fname.toUpperCase()%> </h1>
               </div>
        <%}%>
        </header>
</div>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <p>Clinic management systems are computer software products that coordinate and integrate all the inherent activities involved in the management and running of a healthcare facility. They must meet specified security, technology and functionality standards for managing electronic medical records and practice management information. Some systems maintain the complete Patient Information coupled with the electronic medical records (EMR), medical billing, EDI/HCFA claim sending and meeting the stipulated security, technology & functional standards.</p>

                   <p> Aside from general patient care, a clinic may also participate in running clinical trials. In order to manage the additional responsibilities in managing a clinical trial, a clinic may also use a CTMS or clinical data management system (CDMS) in addition to and combined with their EMR and billing systems.</p>
                    
                 <p>Healthcare computer system, commonly known as clinic management system, is created to computerize manual operations in clinics. The primary purpose is to digitize patient records so as to make data retrieval easy and efficient. Being in the digital form, patient data can be conveniently shared and accessed by multiple simultaneous users at different locations, resulting in smoother clinical operations and collaboration among clinicians. It also means that patient data can be easily backed up, and be protected for confidentiality and from tampering through access control. In addition, clinical tasks involving panel billing, inventory management and accounting are all made easy, and in some manner automated. Economically, clinics benefit from constant cost savings as a result of increased productivity and overall efficiency. Essentially, everyone in the clinic benefits from the system – doctor, nurse, clerk, administrator and the clinic owner – which makes their lives easy and removes unnecessary human errors from their daily activities.</p>
       </div>
</header>
</div>

<% include partials/footer %>
