<% include partials/header %>

<style>
    fieldset {
        padding-left: 1%;
        padding-right: 1%;
    }
</style>
<fieldset>
        <h3>Appointments Schedule</h3>
        <table class="table table-borderless" >
            <tr>
            <th>Doctor Name</th>
            <th>Contact Number</th>
            <th>Date</th> 
            <th>Details</th>
            </tr>
        <% patient.appointments.reverse();
        patient.appointments.forEach(function(appointment){ %>
            <tr>
                <% var month = appointment.appointmentdate.getMonth() +1; %>
                <td><%= appointment.doctorname.toUpperCase() %></td>
                <td><%= appointment.doctorcn %></td>
                <td><%= appointment.appointmentdate.getDate() + "/" + month + "/" + appointment.appointmentdate.getFullYear() %></td> 
                <td><a href="/patienthome/<%= appointment._id %>" class="btn btn-primary">View Details</a></td>
            </tr>
        <% }) %>
        </table>
    </fieldset>
<% include partials/footer %>