<% include partials/header %>
<style>
	h3 {
		margin-bottom: 20px;
		font-family: 'DM Serif Text', serif;
		font-size: 300%;
		text-align: center;
	}
	.container {
		width: 60%;
	}
	.container .inner #signup input {
		border-radius: 20px;
		display: block;
	}
	label {
		margin: 5px;
	}
	#register {
		height: 40px;
		width: 20%;
        background: #0062ff;
        border: none;
        color: white;
        border-radius: 10px;
		font-size: 125%;
	}
</style>
		<div class="container" style="background-image: url('images/bg-registration-form-2.jpg');">
			<div class="inner">
				<form id="signup" method="POST" action="/signup" >
					<h3>Registration Form</h3>
					<div class="form-group">
							<div class="form-wrapper">
									<label for="">User Name</label>
									<input name="username" type="text" class="form-control" placeholder="First Name" required>
							</div>
						<div class="form-wrapper">
							<label for="">First Name</label>
							<input name="fname" type="text" class="form-control" placeholder="First Name" required>
						</div>
						<div class="form-wrapper">
							<label for="">Last Name</label>
							<input name="lname" type="text" class="form-control" placeholder="Last Name" required>
						</div>
					</div>
					<div class="form-wrapper">
						<label for="">Email</label>
						<input name="email" type="text" class="form-control" placeholder="abcd@mailme.com" required pattern="[a-z0-9._%+-+@[a-z0-9.-+\.[a-z{2,}$">
					</div>
					<div class="form-wrapper">
							<label for="">Contact Number</label>
							<input name="contactnumber" type="tel" class="form-control" placeholder="10 Digit Phone Number" required pattern="[0,9].{10}">
						</div>
					<div class="form-wrapper">
						<label for="pw1">Password</label>
						<input name="password" id="pw1" type="password" class="form-control" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z)(?=.*[A-Z).{8,}" >
					<div class="form-wrapper">
					<label>Atleast 8 characters including atleast 1 number 1 uppercase and 1 lowercase character no special character allowed</label>
					</div>
					<button id="b">SHOW</button>
					</div>
					<div class="form-wrapper">
						<label for="pw2">Confirm Password</label>
						<input id="pw2" type="password" class="form-control" placeholder="Rewrite Password" required pattern="(?=.*\d)(?=.*[a-z)(?=.*[A-Z).{8,}" >
					</div>
					<div id="match"></div>
					<div class="radio">
						<div>
								<label class="btn btn-secondary ">
									<input name="type" value="doctor" type="radio" class="form-control" required>Doctor
									</label>
						</div>
								<label class="btn btn-secondary ">
										<input name="type" value="patient" type="radio" class="form-control" required>Patient
								</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" required> I accept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div>
					<button id="register">Register Now</button>
				</form>
			</div>
		</div>
		<script>
		var pw1 = document.querySelector("#pw1"),
				pw2 = document.querySelector("#pw2");
				match = document.querySelector("#match");
				show = false;
				button = document.querySelector("#b");

			pw2.addEventListener("change" , function () {
				if (pw1.value != this.value) {
					match.textContent = "Passwords don't match";
					pw1.value = "";
					pw2.value = "";
				}
				else{	match.textContent="";}
			});

			button.addEventListener("click", function () {
				if (!show) {
					pw1.setAttribute("type", "text");
					button.textContent = "HIDE";
				}
				else {
					pw1.setAttribute("type", "password");
					button.textContent = "SHOW";
				}
				show = !show;
			})
			/*
			<div class="form-wrapper">
						<label for="">Authentication Key</label>
						<input name="authenticationKey" type="text" class="form-control" placeholder="Authentication Key" required pattern="(?=.*\d)(?=.*[A-Z).{8}" >
					</div>
			*/
			</script>
			
	<% include partials/footer %>